
body{		color: #333333;
			font-family: "Lucida	Sans	Unicode",	"Lucida	Grande",	sans-serif;
	}


p	{		
	color:	blue;		
	background-color:	yellow; 
	}


h1	{
		background-image:	url(img/destaque-home.png);
	}

header	{
			position:	relative;
		}
.menu-opcoes	{
			position:	absolute;
			bottom: 0;
			right: 0;
	}

#cabecalho	{
			color:	white;
			text-align:	center;
			}
#rodape img	{
			margin-right: 30px;
			vertical-align:	middle;
			width: 94px;
			}

.menu-opcoes ul li	{
			display:	inline;
			margin-left: 20px;
			font-size: 15px;
					}

.menu-cabecalho	{
				//	código	de	um	menu	no	cabeçalho
				//	essas	regras	TAMBÉM	serão	aplicadas	ao	nav
				}


.sacola	{
background-image:	url(/img/sacola.png);
background-repeat:	no-repeat;
background-position:	top	right;
			font-size: 14px;
			padding-top: 8px;
			text-align:	right;
			width: 140px;
			position:	absolute;
			top: 0;
			right: 0;
	}

.menu-opcoes a	{
				color: #003366;
	}

.container	{
			margin: 0	auto;
			width: 940px;
	}
